{% extends 'nowandthen/base.html' %}
{% load staticfiles %}

  {% block additional_styles %}
  <style>
   body{
    background-image: url('/static/images/glasgow_cityscape.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  </style>
  {% endblock %}

{% block title_block %}
    Homepage
{% endblock %}

 {% block body_block %}
 <body>
    <div class="container text-center">
        <div class="row h-100">
            <div class="col-sm-6">
                <p class="brownText">
                    <a href="{% url 'nowandthen:photo_feed' %}">View Pictures</a>
                </p>
            </div>
            <div class="col-sm-6">
                <p class="brownText"><a href="{% url 'nowandthen:add_picture' %}">Post Pictures</a></p>
            </div>
        </div>
    </div>
</body>
 {% endblock %}

